

.navbar-inverse{
	text-transform: uppercase;
	width:100%;
	max-width: 1200px;
	background: #1f224f;

}

 .navbar-nav{
	 margin:0 40px !important;

 }
.parrafo{
	font-family: "verdana" sans, sans-serif;
	font-size: 0.8em;
	text-align: justify;
	padding: 20px 20px;
	
}

.navbar-default{
	
	height: 60px;
	background-color: #1f224f; 
}
.white{
	color: #fff;
	font-family: "verdana" sans, sans-serif;
	font-size: 0.8em;
	float: right;
	padding: 20px;
}
